<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>idler</string>
    <key>CFBundleDisplayName</key>
    <string>idler</string>
    <key>CFBundleIdentifier</key>
    <string>com.idler.idler</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>idler</string>
    <key>CFBundleIconFile</key>
    <string>idler.icns</string>
    <key>LSUIElement</key>
    <true/>
  </dict>
</plist>

